<div *ngIf="visibleButton">
    <a routerLink="/newproduct"><p-button type="submit" label="New"></p-button></a>
</div>

<p-card header="Product Registration">
    <div class="card flex flex-column md:flex-row gap-3">
        <form [formGroup]="registerForm" novalidate>
            <div class="p-inputgroup">
                <input type="text" [(ngModel)]="product.name" formControlName="name" class="form-control" id="name"
                    name="name" pInputText placeholder="Product Name" />
            </div>

            <div class="p-inputgroup">
                <input type="text" [(ngModel)]="product.detail" formControlName="detail" class="form-control"
                    id="detail" name="detail" pInputText placeholder="Detail" />
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">$</span>
                <input type="text" [(ngModel)]="product.price" formControlName="price" class="form-control" id="price"
                    name="price" pInputText placeholder="Price" />
                <span class="p-inputgroup-addon">.00</span>
            </div>

            <div class="p-inputgroup">
                <input type="text" [(ngModel)]="product.amount" formControlName="amount" class="form-control"
                    id="amount" name="amount" pInputText placeholder="Amount" />
            </div>

            <div class="card flex justify-content-center">
                <p-dropdown [options]="productCategories" [(ngModel)]="product.productCategory"
                    formControlName="productCategory" optionLabel="name" [filter]="true" filterBy="name"
                    [showClear]="true" class="form-control" id="selectedCategory" name="selectedCategory"
                    placeholder="Select a Category">
                    <ng-template pTemplate="selectedCategory">
                        <div class="flex align-items-center gap-2" *ngIf="selectedCategory">
                            <div>{{ selectedCategory.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-productCategory pTemplate="productCategory">
                        <div class="flex align-items-center gap-2">
                            <div>{{ productCategory.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <p-button type="submit" [disabled]="!registerForm.valid" label="Submit" (click)="save()"></p-button>
        </form>
    </div>
</p-card>

<div class="card">
    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
</div>